body {
    height: 110%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
  }

.card {
    background-color: transparent;
}

a {
    color: black !important;
    text-decoration: none !important;
}

#link:hover {
    text-decoration: underline !important;
  }

.space {
    margin-left: 20% !important; 
    margin-right: 20% !important;
}

.c {
    max-width: 648px;
    margin: 20px;
}

img {
    border-radius: 50%;
}

.center {
    max-width: 800px;
    margin: 20px;
}

#welcome {
    font-size: 55px;
}

.bg {
    background-color: EBDCCB;
}